<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tool"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tool http://www.springframework.org/schema/tool/spring-tool.xsd">




    <bean id="Report" class="com.tony.workimpl.Iworkimpl">
        <property name="sql" value="spring"></property>

    </bean>

    <bean id="Work" class="com.tony.workimpl.Iworkimpl">
        <constructor-arg value="构造"></constructor-arg>

    </bean>


    <!--Mybatis spring-->
    <!--2.sqlSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="ds"/>
        <property name="typeAliasesPackage" value="com.tony.main"/>
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>
    <!--3.自动扫描-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.tony.dao"/>
        <!--<property name="sqlSessionFactory" ref="sqlSessionFactory"/>-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>
    <!--4.事务管理-->
    <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="ds"/>
    </bean>
    <!--5.事务申明-->
    <tx:annotation></tx:annotation>
</beans>