<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">




    <!--<bean id="Report" class="Iworkimpl">
        <property name="sql" value="spring"></property>

    </bean>

    <bean id="Work" class="Iworkimpl">
        <constructor-arg value="构造"></constructor-arg>

    </bean>-->






    <!--Mybatis spring-->
    <!--2.sqlSessionFactory-->
    <!--<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="ds"/>
        <property name="typeAliasesPackage" value="com.tony.main"/>
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>
    3.自动扫描
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.tony.dao"/>
        &lt;!&ndash;<property name="sqlSessionFactory" ref="sqlSessionFactory"/>&ndash;&gt;
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>
    4.事务管理
    <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="ds"/>
    </bean>-->
    <!--5.事务申明-->
    <!--<tx:annotation></tx:annotation>-->
</beans>