<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean id="Report" class="com.tony.workimpl.Iworkimpl">
        <property name="sql" value="spring"></property>

    </bean>

    <bean id="Work" class="com.tony.workimpl.Iworkimpl">
        <constructor-arg value="构造"></constructor-arg>

    </bean>
</beans>